.watch {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  margin: 10px;
  text-align: center;
}

.watch__inner {
  margin: 20px auto 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
}

.watch__delete-button {
  position: absolute;
  top: -15px;
  right: -15px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  outline: none;
  background: #fff;
  cursor: pointer;
}

.watch__delete-button:hover {
  background: #eee;
}

.arrow {
  transform-origin: bottom;
  border-left: 1px solid #000;
  position: absolute;
  left: 50%;
  bottom: 50%;
  height: calc(50% - 5px);
}

.arrow_hour {
  height: 30%;
}

.arrow_second {
  border-left-style: dashed;
}

.arrow_minute:after,
.arrow_hour:after {
  content: '\2B9D';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.watch-form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin: 2px;
}

.watch-form__label {
  display: block;
  margin: 10px;
}

.watch-form__input,
.watch-form__button {
  height: 30px;
  border: 1px solid #000;
  line-height: 30px;
  box-sizing: border-box;
  outline: none;
}

.watch-form__button {
  cursor: pointer;
  background: #fff;
  text-align: center;
  width: 150px;
}

.watch-form__button:hover {
  background: #eee;
}
